.l-caracteristicas-bg {
  background: var(--cor-11);
  box-shadow: inset 0 80px var(--cor-0), inset 0 -80px var(--cor-0);
}
.l-caracteristicas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

/* Estilização do grid 1 / dos textos */
.textos-caracteristicas {
  padding-bottom: 80px;
  align-self: end;
}
.introducao-caracteristicas {
  font-weight: 500;
  font-size: 1.5rem;
  letter-spacing: 0.015rem;
  text-transform: uppercase;
  color: var(--cor-5);
  margin-top: 160px;
}
.l-caracteristicas h3 {
  margin-top: 20px;
}
.descricao-caracteristicas {
  font-size: 1.5rem;
  color: var(--cor-5);
  margin: 32px 0;
}

/* Botão para a página de bicicletas */
.l-caracteristicas a {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 36px;
  color: var(--cor-p1);
  text-transform: uppercase;
  padding: 20px 0px 5px 0px;
  position: relative;
}
.l-caracteristicas a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background: currentColor;
  bottom: 1px;
  left: 1px;
}
.l-caracteristicas a:hover {
  color: var(--cor-0);
}

/* Estilização das duas caracteristicas */
.img-caracteristicas {
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
  width: 100%;
}
.tecnologias-caracteristicas {
  margin-top: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin-bottom: 100px;
}
.texto1-tecnologias {
  margin-top: 8px;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 36px;
  color: var(--cor-0);
}
.texto2-tecnologias {
  margin-top: 8px;
  font-size: 1rem;
  line-height: 24px;
  color: var(--cor-5);
}

@media (max-width: 1200px) {
  .introducao-caracteristicas {
    font-size: 1.3rem;
  }
  .descricao-caracteristicas {
    font-size: 1.3rem;
  }
  .l-caracteristicas a {
    font-size: 1.3rem;
  }
}
@media (max-width: 1000px) {
  .l-caracteristicas-bg {
    box-shadow: inset 0 -80px var(--cor-0);
  }
  .l-caracteristicas {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .introducao-caracteristicas {
    margin-top: 40px;
  }
  .textos-caracteristicas {
    padding-bottom: 0px;
  }
  .img-caracteristicas {
    height: 500px;
    width: 100%;
  }
  .tecnologias-caracteristicas {
    margin-bottom: 40px;
  }
}
@media (max-width: 650px) {
  .img-caracteristicas {
    display: none;
  }
  .introducao-caracteristicas {
    font-size: 1.1;
  }
  .textos-caracteristicas {
    padding-bottom: 80px;
  }
  .descricao-caracteristicas {
    font-size: 1.1rem;
  }
  .tecnologias-caracteristicas {
    grid-template-columns: 1fr;
  }
}
