main {
  background: var(--cor-12);
  box-shadow: inset 0 -120px var(--cor-0);
}
.l-introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
.textos-introducao {
  align-self: end;
  padding-bottom: 200px;
}
.l-introducao img {
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}
.l-introducao h1 {
  margin-bottom: 32px;
}
.l-introducao p {
  font-weight: 400;
  margin-bottom: 20px;
  font-size: 1.5rem;
  line-height: 1.5;
  color: var(--cor-5);
}

@media (max-width: 1200px) {
  .l-introducao p {
    font-size: 1.3rem;
    line-height: 2.25rem;
  }
  .botao {
    font-size: 1.1rem;
    padding: 15px 25px;
  }
}
@media (max-width: 1000px) {
  main {
    background: #111111;
    box-shadow: inset 0 -60px #ffffff;
  }
  .textos-introducao {
    padding-bottom: 20px;
  }
  .l-introducao {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .l-introducao h1 {
    margin-top: 40px;
  }
  .l-introducao img {
    height: 500px;
    width: 100%;
  }
}
@media (max-width: 500px) {
  .l-introducao img {
    height: 250px;
  }
  main {
    box-shadow: inset 0 -40px #ffffff;
  }
}
