.name-label label {
  display: block;
  font-size: 600;
  margin-bottom: 4px;
  font-size: 1rem;
  color: var(--cor-11);
}
.caixa-forms input[type="text"],
.caixa-forms input[type="email"],
.caixa-forms textarea,
select {
  font-family: "Roboto";
  font-size: 1rem;
  color: var(--cor-7);

  border: 1px solid var(--cor-2);
  border-radius: 5px;
  background: var(--cor-1);

  padding: 12px;
  width: 100%;
  box-sizing: border-box;
}
.form input[type="text"]:focus,
.form input[type="email"]:focus,
.form textarea:focus {
  outline: none;
  border-color: var(--cor-7);
}
