.header-bg {
  background: var(--cor-12);
}
.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.navbar {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.navbar a {
  color: var(--cor-1);
  font-size: 1.125rem;
  display: inline-block;
  position: relative;
  padding: 10px 0;
}
.navbar a::after {
  content: "";
  background: var(--cor-1);
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: 10px;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.25s;
}
.navbar a:hover::after,
.navbar a.ativo::after {
  transform: scaleX(1);
}

@media (max-width: 800px) {
  .navbar a::after {
    display: none;
  }
  .navbar a {
    padding: 10px 15px;
    background: var(--cor-11);
    border-radius: 4px;
  }
}
@media (max-width: 550px) {
  .header {
    flex-direction: column;
  }
  .navbar {
    gap: 0px;
  }
  .navbar li {
    margin-top: 10px;
    padding: 5px;
  }
  .navbar a {
    font-size: 1rem;
  }
}
@media (max-width: 400px) {
  .navbar {
    /* flex-direction: column; */
  }
  .navbar a {
    font-size: 0.8rem;
  }
}
@media (max-width: 300px) {
  .navbar {
    flex-direction: column;
  }
}
