/* Cores Backgrounds */
.l-termos {
  background: var(--cor-1);
}
.cabecalho-bg {
  background: var(--cor-11);
}

/* Estilização */

.textos-termos h3:first-child {
  padding-top: 80px;
  padding-bottom: 20px;
}
.textos-termos h3 {
  padding-top: 42px;
  padding-bottom: 20px;

  font-size: 1.5rem;
  color: var(--cor-11);
}
.textos-termos p + p {
  padding-top: 20px;
}
.textos-termos p:last-child {
  padding-bottom: 80px;
}

@media (max-width: 1200px) {
  .textos-termos h3:first-child {
    padding-top: 100px;
    padding-bottom: 20px;
  }
  .textos-termos p:last-child {
    padding-bottom: 100px;
  }
}
@media (max-width: 800px) {
  .textos-termos h3:first-child {
    padding-top: 60px;
    padding-bottom: 20px;
  }
  .textos-termos p:last-child {
    padding-bottom: 60px;
  }
}
